ExchangeClient/ExchangeClient/Service References/OrderService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="buySell" type="tns:BuySell" />
      <xs:element minOccurs="0" name="cancelled" type="xs:boolean" />
      <xs:element minOccurs="0" name="matched" type="xs:boolean" />
      <xs:element minOccurs="0" name="orderNumber" type="xs:long" />
      <xs:element minOccurs="0" name="orderType" type="tns:OrderType" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="productId" type="xs:long" />
      <xs:element minOccurs="0" name="quantity" type="xs:long" />
      <xs:element minOccurs="0" name="submitTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="traderId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:simpleType name="BuySell">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy" />
      <xs:enumeration value="Sell" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BuySell" nillable="true" type="tns:BuySell" />
  <xs:simpleType name="OrderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Market" />
      <xs:enumeration value="Limit" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OrderType" nillable="true" type="tns:OrderType" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
</xs:schema>